<!DOCTYPE html>
<html>
  <head>
    <script src="/toastr.js"></script>
    <script src="/common2.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/toast.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>
  </body>
</html>
