body{
    background-color: white;
    font:  14px Helvetica, Verdana, sans-serif;
}

#main{
    width:1000px;
    height: 500px;
    border:2px solid black;
    float:left;

}
#controls{
    border:2px solid black;
}

/* #options{ */
/*     width: 1000px; */
/*     height: 100px; */
/*     border: 2px solid black; */
    
/* } */
#edit{
    width:310px;
    height: 500px;
    border: 2px solid black;
    float:right;
    display:none;
    background:#fceabb;
}

input[type="submit"]{
    width:200px;
    border:1px solid white;
    margin-left:50px;
    //margin-top:20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
input {
    font-size: 16px;
    padding: 5px;
    width: 200px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    margin-top:10px;
}