<!DOCTYPE html>
<html>
  <head>
    <script src="/common.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>
    <div class='login'>
      <h2>Sign in</h2>
      <form onsubmit="return postFormForJSON(this)" method="POST" action="{registration}">
	<input name='_username' placeholder='Email' type='text'/>
	<input name='_email' placeholder='Email' type='text'/>
	<input name='_dob' placeholder='Email' type='date'/>
	<input id='pw' name='_password' placeholder='Password' type='password'/>
	<input type='submit' value='Register'/>
	<a class='forgot' href='#'>Forgot your password?</a>
      </form>
    </div>

    <div>
      <H4 id="welcome"></H4>
    </div>
  </body>
</html>
