.toast-container {
    width               :           100%;
    position            :           fixed;
    top                 :           0px;
    margin              :           0 auto;
    z-index              :           1;
}

.toast {
    position            :           relative;
    width               :           80%;
    min-height           :           50px;
    list-style           :           none;
    font-size            :           50px;
    text-align           :           center;
    margin              :           0 auto;
    margin-top           :           10px;
    border-radius        :           10px;
    color               :           #fff;
    transition          :           all 1s linear;
}

.error {
    background          :           maroon;
}

.warning {
    background          :           #2F96B4;
}

.success {
    background          :           #9BB526;
}