body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.background {
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to top, black 0%, #222 50%, black 100%);
    width: 100%;
    height: 100%;
    display: table;
}
.loader {
    color: white;
    font-family: Ubuntu Mono, sans-serif;
    font-weight: bold;
    animation-duration: 4s;
    animation-name: spread;
    animation-iteration-count: infinite;
    transform: translatez(0,0,0);
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 1.3em;
    letter-spacing: 6em;
    text-indent: -100%;
}
@keyframes spread {
    from {
	letter-spacing: 6em;
	text-indent: -150%;
    }
    5% {
    }
    50% {
	text-indent: 50%;
	letter-spacing: 0.3em;
    }
    95% {
    }
    to {
	letter-spacing: 6em;
	text-indent: 120%;
    }
}